{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author }}</a> ({{ author }})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors of books in the library DB.</p>
  {% endif %}
{% endblock %}

